*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #92381E;
}

body{
    display: flex;
    justify-content: center;
    background-color: #F0C9C9;
    min-height: 100vh;
}

img{
    width: 50px;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.mainContainer{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 60px;
    border-radius: 10px;
}

.headerContainer{
    gap: 15px;
}

.logo{
    width: 200px;
}

.name{
    font-family: "Calligraffitti", cursive;
    font-size: 2.5rem;
}

.description{
    font-family: "Bree Serif", serif;
    font-weight: bold;
    text-align: center;
}

.planningContainer{
    gap: 20px;
    padding: 40px;
    background-color: rgba(187, 7, 9, 0.1);
    border-radius: 15px;
    border: #92381E 3px solid;
}

.planningContainer h2{
    font-family: "Bree Serif", serif;
    font-size: 2rem;
}

.planningContainer p{
    font-family: "Bree Serif", serif;
    text-align: center;
}

.backLink{
    text-decoration: none;
    background-color: #BB0709;
    height: 50px;
    padding: 0 40px;
    border-radius: 15px;
    color: #F0C9C9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform ease-in-out .2s, opacity 0.3s ease;
    border: #92381E 5px solid;
    font-family: "Bree Serif", serif;
    font-weight: bold;
}

.backLink:hover{
    transform: translateX(10px);
}