*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #92381E;
    
}

body{
    display: flex;
    justify-content: center;
    background-color: #F0C9C9;
    min-height: 100vh;
}

img{
    width: 50px;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.mainContainer{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 60px;
    border-radius: 10px;
}

.headerContainer{
    gap: 15px;
}

.logo{
    width: 200px;
}

.name{
    font-family: "Calligraffitti", cursive;
}

.description{
    font-family: "Bree Serif", serif;
    font-weight: bold;
    text-align: center;
}

.headerContainer{
    gap: 15px;
}

.linkContainer{
    gap: 10px;
}

.link{
    text-decoration: none;
    background-color: #BB0709;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    color: #F0C9C9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    transition: transform ease-in-out .2s, opacity 0.3s ease;
    border: #92381E 5px solid;
}

.link:hover{
    transform: translateX(10px);
}

.linkContainer:hover .link:not(:hover){
    opacity: 0.4;
}

.footerContainer{
    flex-direction: row;
    gap: 15px;
}

.socialLink{
    background-color: #BB0709;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #92381E 5px solid;
    transition: transform ease-in-out .2s, opacity 0.3s ease;
}

.socialLink:hover{
    transform: translateY(-10px);
}

.footerContainer:hover .socialLink:not(:hover){
    opacity: 0.4;
}

.socialLink img{
    width: 20px;
    height: 20px;
}